<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<li><%= @count %></li>
<% @users.each do |user| %>
  <h3><li><%=  user.name %></li></h3>
<% end %>
